*{
    margin: 0;
    padding: 0;
}


.cabecalho {
    background-color: #f1a808;
    color: rgb(22, 5, 5);
    display: flex;
    justify-content: space-around;
}
cabecalho-imagem{


width: 20%;
}

.cabecalho-lista-item{
    display: inline-block
    margin: 0 16px;
}

    
